/** - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
 | Sticky Footer
 */
	html, body {
	  height: 100%;
	}
	body {
	  display: flex;
	  flex-direction: column; /* 아이템 배치 방향 ↓ */
	}
	.layout_content {
	  flex: 1 0 auto;
	}
	.layout_footer {
	  flex-shrink: 0;
	}

	/* scrollbar style */
	/*
	body {
	  overflow-y:scroll;
	  -ms-overflow-style: -ms-autohiding-scrollbar;             / * <=== 익스플로러를 위한 CSS * / 
	  scrollbar-width: thin; scrollbar-color: #2f3542 #C4C4C4;  / * <=== 파이어폭스를 위한 CSS * / 
	}
	body::-webkit-scrollbar {width: 7px;}
	body::-webkit-scrollbar-thumb {background-color: #2f3542;}
	body::-webkit-scrollbar-track {background-color: #C4C4C4;}
	*/

	body {
	  overflow-y:scroll;
	  -ms-overflow-style: -ms-autohiding-scrollbar;             /* <=== 익스플로러를 위한 CSS */ 
	  scrollbar-width: thin; scrollbar-color: #2f3542 #C4C4C4;  /* <=== 파이어폭스를 위한 CSS */ 
	}
	body::-webkit-scrollbar {width: 7px;}
	body::-webkit-scrollbar-thumb {background-color: #2f3542;}
	body::-webkit-scrollbar-track {background-color: #C4C4C4;}


/** - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
 | default set
 */

	/* 컨텐츠 폭, 좌우여백 기본 설정 */
	.header_wrap, .footer_wrap {margin:0 auto; width:100%; max-width:1200px; padding:0 15px; }
	.contents_wrap {margin:0 auto; width:100%; max-width:1200px; padding:30px 15px; /*height:calc(100% - 72px); max-height:100%; */background-color:#ffffff;}
	.contents_w100 {margin:0 auto; width:100%;}
	.line_gap_10 {margin:0; padding:0; width:100%; clear:both; height:10px;}
	.line_gap_20 {margin:0; padding:0; width:100%; clear:both; height:20px;}
	.line_gap_30 {margin:0; padding:0; width:100%; clear:both; height:30px;}

	.layout_content {/*background-color: #f2f2f2;*/ padding-bottom:30px;}
	.layout_content a {color:#222222; text-decoration:none;}

	.layout_footer {position:relative; border-top:1px solid #eeeeee; padding:30px 0; z-index:10;  background-color:#f2f2f2;}

	@media screen and (min-width: 992px) {
		.contents_wrap {
			padding: 40px 15px;
		}
	}
	@media screen and (max-width: 992px) {
		.contents_wrap {
			height:calc(100% - 56px); 
		}
	}

	.contents_wrap h2 {margin-left:10px; /*margin-bottom:15px;*/ font-size:26px; letter-spacing:-0.07em; font-weight:600;  word-spacing:0.1em;}
	.contents_wrap h3,
	.contents_wrap h4,
	.contents_wrap h5,
	.contents_wrap h6 {}

	.contents_wrap .cmp_title {font-weight:600;}

/** - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
 | common - nav menu
 */

	/* Desktop */
	.header_top {width:100%; height:29px; line-height:29px; font-size:13px; color:#ffffff; background-color:#38353e; }
	.header_top a {color:#ffffff;text-decoration:none; font-family: Verdana, sans-serif; word-spacing:-0.1em; }

	#navbar_fixed {box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.06);}

	.header_nav {height:72px; background-color:#ffffff; vertical-align:middle; z-index:10; box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.06);}
	.header_nav .navlogo {position:absolute; top:14px; width:180px; height:42px; line-height:42px; color:#000; font-size: 24px; font-weight:bold; /*background-image:url('/assets/images/page/logo_desktop.png');*/ background-repeat:no-repeat; background-position:center left; background-size:auto; }
	.header_nav .navbar_fixed {height:72px; transition: all .5s ease-in-out; }
	.header_nav .navbar_scrolled { background-color:#ffffff;  color:#000000; }
	.header_nav .navbar_scrolled a, .header_nav .navbar_scrolled .desk_navbar_tell { color:#000000; transition: all .5s ease-in-out;}
	.header_nav .navbar_srh {position:absolute; top:15px; right:0;}
	.header_nav .navbar_sub {background-color:#ffffff; display: ; border-top:1px solid #eeeeee; box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.06);}

	
	/* 데스크탑 버전 메뉴 디자인 */
	.desk_nav_white dl > dd {display:none;}

	.desk_navbar {line-height:72px; width:calc(100% - 130px;); margin-left:180px; position: relative;display: flex;flex-wrap: wrap;align-items: center;justify-content: space-between;}
	.desk_navbar ul {list-style:none; margin:0; width:100%;}
	.desk_navbar ul li { text-align:right;}
	.desk_navbar ul li a {
		display:block; margin:0 15px; line-height:72px; text-decoration:none; font-size:20px; font-weight:500; color:#444444;
		font-family:'Noto Sans KR', AppleSDGothicNeo-Regular;
	}

	/*
	.desk_navbar dt.actived { border-bottom:2px solid green;}
	.desk_navbar dt:hover { border-bottom:2px solid green; }
	*/

			.desknav_main {position:relative;}
			.desknav_main a {position:relative;}

			/* */
			/* -------------------------------
			.desknav_main a::before {
			  transition: 300ms;
			  height: 5px;
			  content: "";
			  position: absolute;
			  background-color: #6565b4;
			}
			*/
			

			/* navbar_ltr */
			/* -------------------------------
			.desknav_main a::before {
			  width: 0%;
			  bottom: 10px;
			}

			.desknav_main:hover a::before {
			  width: 100%;
			}
			*/

			/* navbar_fadeup
			.desknav_main a::before {
				width: 100%;
				bottom: 5px;
				opacity: 0;
			}
			.desknav_main a:hover::before {
				bottom: 10px;
				opacity: 1;
			} */

			/* .actived :: #00793d */
			/* -------------------------------
			.desknav_main.actived a::before {
			  transition: 300ms;
			  height: 5px;
			  content: "";
			  position: absolute;
			  background-color: #6565b4;
			  bottom: 10px;
			  opacity: 1;
			  width: 100%;
			}
			*/


			/* navbar_growup 
			.desknav_main a::before {
			  height: 0%;
			  width: 100%;
			  bottom: 0px;
			}

			.desknav_main a:hover::before {
			  height: 5px;
			}
			 */




			/* navbar center */
			/* */
			.desknav_main a::after {
				content: '';
				display: block;
				width: 0;
				position:absolute;
				left:50%;
				bottom:10px;
				height: 5px;
				background: #6565b4;
				transition: cubic-bezier(.77,0,.18,1) .5s;
			}
			.desknav_main a:hover::after,
			.desknav_main.actived a::after {
				width: 100%;
				left: 0;
			}
			.desknav_main a {
			  transition: cubic-bezier(.77,0,.18,1) .5s;
			}
			/* */




	.desk_navbar_sub_main li a {color:#000;}
	.desk_navbar_sub_main li.actived {font-weight:bold;}
	.desk_navbar_sub_main li.actived a {color:green;}
	.desk_navbar_sub_main li:hover a {color:green;}


	.desk_navbar_sub_container {display:flex; flex: 1 0 0;}
	.desk_navbar_sub_container .desk_navbar_sub_sidebar {flex: 0 0 195px; max-width:195px;}
	.desk_navbar_sub_container .desk_navbar_sub_main {flex: 1 0 0;}

	@media screen and (min-width: 991px) {
		.header_nav_mobile {
			display: none;
		}
	}
	@media screen and (max-width: 990px) {
		.header_top {
			display:none;
		}
		.header_nav {
			display: none;
		}
	}






	/* Mobile */
	.header_nav_mobile {height:56px; vertical-align:middle; background-color:#ffffff; }
	.header_nav_mobile .navbar_fixed {height:60px; /*transition: all .5s ease-in-out;*/  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.06); z-index:10; background-color:#ffffff;  color:#000000; }
	.header_nav_mobile .navbar_scrolled { }


	.header_nav_mobile .navlogo { display:inline-block; width:200px; height:56px; line-height:56px; font-size:22px; color:#000; /*background-image:url('/assets/images/page/logo_txt.png');*/ background-repeat:no-repeat; background-position:center left; background-size:auto; }
	.header_nav_mobile .navbar { position:absolute; top:0; right:0;}

	/* Mobile nav button */
	.hamberger_btn {position: absolute;top:15px;right:15px; outline:none; text-decoration:none;}
	.hamberger_btn div {width: 22px; height: 2px; background-color: black; margin: 5px 0;outline:none;text-decoration:none; }

	/* Mobile nav offcanvas */
	#offcanvasRightMobile {width:100%; max-width:360px;}
	#offcanvasRightMobile .offcanvas-header {transition: all .5s ease-in-out;background-color: transparent;padding-top: 1rem;padding-bottom: 1rem;box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.06);background-color:#ffffff; height:56px;}

	#offcanvasRightMobileLabel {width:calc(100% - 45px); margin-bottom:-2px;}

	.hamberger_btn_close {position: absolute;top:13px;right:13px; background-color:#c0c0c0; padding:3px 5px;}
	.hamberger_btn_close div.bar1, .hamberger_btn_close div.bar2, .hamberger_btn_close div.bar3 {
	  width: 22px; height: 2px; background-color: #ffffff; margin: 5px 0;background-color: #ffffff;transition: 0.4s;
	}
	.hamberger_btn_close .bar1 {-webkit-transform: rotate(-45deg) translate(-5px, 5px);transform: rotate(-45deg) translate(-5px, 5px);}
	.hamberger_btn_close .bar2 {opacity: 0;}
	.hamberger_btn_close .bar3 {-webkit-transform: rotate(45deg) translate(-5px, -5px);transform: rotate(45deg) translate(-5px, -5px);}


	/*  모바일 - 헤더 */
	@media screen and (max-width: 991px) {

		dl.mobile_navbar {display:block;}
		dl.mobile_navbar > dt {display:block;line-height:30px;padding: 10px 15px; position: relative; cursor:pointer;font-size:17px; font-weight:normal;} 
		dl.mobile_navbar > dt > a {display:block;line-height:26px;position: relative;text-decoration:none; }
		dl.mobile_navbar > dd {margin:0;padding:0; display:none;line-height:30px;padding: 10px 15px; }
		dl.mobile_navbar > dd > a {display:block;line-height:26px; margin-left:10px;  /* margin: 0px 15px 0px 30px; padding:10px 0; */ position: relative;text-decoration:none; }
		dl.mobile_navbar > dd.depth3 > a {display:block;line-height:26px; margin-left:30px;/*margin: 0px 15px 0px 45px;padding:10px 0;*/ position: relative;text-decoration:none; }
		dl.mobile_navbar > dd.depth4 > a {display:block;line-height:26px; margin-left:45px;/*margin: 0px 15px 0px 60px;padding:10px 0;*/ position: relative;text-decoration:none; }

		dl.mobile_navbar > dd > a > span {position:absolute; left:-10px;}


		/* 모바일 메뉴 - 다크 스타일 */
		.mob_nav_dark {}
		.mob_nav_dark dl.mobile_navbar > dt {background-color:#2b2b2b;border-bottom:1px solid #434343;color:#fff;}
		.mob_nav_dark dl.mobile_navbar > dt > a {background-color: #2b2b2b;border:none;color:#fff;  font-size:16px; font-weight:600;}
		.mob_nav_dark dl.mobile_navbar > dt:hover, 
		.mob_nav_dark dl.mobile_navbar > dt:hover > a,
		.mob_nav_dark dl.mobile_navbar > dt.active, 
		.mob_nav_dark dl.mobile_navbar > dt.active > a { background-color: #000000;}
		.mob_nav_dark dl.mobile_navbar > dd > a {background-color: #4c4c4c;border-bottom:1px solid #818181;color:#dfdfdf;  font-size:14px; font-weight:normal;}
		.mob_nav_dark dl.mobile_navbar > dd:hover > a,
		.mob_nav_dark dl.mobile_navbar > dd.active > a {background-color: #4c4c4c;color:#dfdfdf;}

		.mob_nav_dark dl.mobile_navbar > dd.depth3 > a {background-color: #646464;color:#ccc;}
		.mob_nav_dark dl.mobile_navbar > dd.depth3:hover > a,
		.mob_nav_dark dl.mobile_navbar > dd.depth3.active > a {background-color: #646464;color:#ccc;}

		.mob_nav_dark dl.mobile_navbar > dd.depth4 > a {background-color: #646464;color:#ccc;}
		.mob_nav_dark dl.mobile_navbar > dd.depth4:hover > a,
		.mob_nav_dark dl.mobile_navbar > dd.depth4.active > a {background-color: #646464;color:#ccc;}


		/* 모바일 메뉴 - 그레이 스타일 */
		.mob_nav_gray {}
		.mob_nav_gray dl.mobile_navbar > dt {background-color:#FFFFFF;border-top:1px solid #dddddd;color:#333333;}
		.mob_nav_gray dl.mobile_navbar > dt.m10 { border-top: none;} 
		.mob_nav_gray dl.mobile_navbar > dt > a {background-color: #FFFFFF;border:none;color:#333333;  font-size:16px; font-weight:600;}

		.mob_nav_gray dl.mobile_navbar > dt:hover, 
		.mob_nav_gray dl.mobile_navbar > dt:hover > a { background-color: #aaaaaa; color:#ffffff;}
		.mob_nav_gray dl.mobile_navbar > dt.active, 
		.mob_nav_gray dl.mobile_navbar > dt.active > a { /* background-color: #585858; color:#ffffff; */}

		/* .mob_nav_gray dl.mobile_navbar > dt.active + dd { display:block;} */

		.mob_nav_gray dl.mobile_navbar > dd {background-color:#f8f8f8;/*background-color: #cccccc;*/ border-top:1px dashed #aaaaaa;}
		.mob_nav_gray dl.mobile_navbar > dd:first-of-type { border-top:0px dashed #aaaaaa;}
		.mob_nav_gray dl.mobile_navbar > dd > a {color:#333333;  font-size:14px; font-weight:normal; position: relative;}
		.mob_nav_gray dl.mobile_navbar > dd:hover > a,
		.mob_nav_gray dl.mobile_navbar > dd.active > a {color:#333333; }

		.mob_nav_gray dl.mobile_navbar > dd.depth3 {/*background-color: #dddddd;*/color:#333333;}
		.mob_nav_gray dl.mobile_navbar > dd.depth3 > a {/*background-color: #dddddd;*/color:#333333;}
		.mob_nav_gray dl.mobile_navbar > dd.depth3:hover > a,
		.mob_nav_gray dl.mobile_navbar > dd.depth3.active > a {color:#333333; }

		.mob_nav_gray dl.mobile_navbar > dd.depth4 {/*background-color: #eeeeee;*/color:#333333;}
		.mob_nav_gray dl.mobile_navbar > dd.depth4 > a {/*background-color: #eeeeee;*/color:#333333;}
		.mob_nav_gray dl.mobile_navbar > dd.depth4:hover > a,
		.mob_nav_gray dl.mobile_navbar > dd.depth4.active > a {color:#333333; }

		.mob_nav_gray dl.mobile_navbar > dt a { /* text-decoration:underline; */ display:inline-block;}
		.mob_nav_gray dl.mobile_navbar > dd a { /* text-decoration:underline; */ display:inline-block;}


		/* .actived */
		.mob_nav_gray dl.mobile_navbar > dt.actived a::before {
		  transition: 300ms;
		  height: 4px;
		  content: "";
		  position: absolute;
		  background-color: #6565b4;
		  bottom: -5px;
		  opacity: 1;
		  width: 100%;
		}
		.mob_nav_gray dl.mobile_navbar > dt.actived.active a::before {
		  background-color: #6565b4;
		}

		.mob_nav_gray dl.mobile_navbar > dd.actived a::before {
		  transition: 300ms;
		  height: 3px;
		  content: "";
		  position: absolute;
		  background-color: #6565b4;
		  bottom: -3px;
		  opacity: 1;
		  width: 100%;
		}

		/*
		.mob_nav_gray dl.mobile_navbar > dt > a.icon_depth_plus::after {
			content: "\002B" !important;
			position:absolute;
			right:0;
		}
		*/
		.mob_nav_gray dl.mobile_navbar > dt.icon_depth_plus::after {
			content: "\002B" !important;
			position:absolute;
			right:15px;
		}

		/* 
		.mob_nav_gray dl.mobile_navbar > dd > a.icon_depth_plus::before {  */
		.mob_nav_gray dl.mobile_navbar > dd.icon_depth_plus::after {
			content: "\002B" !important;
			position:absolute;
			right:15px;
		}




		/* Show minus icon when active */
		/*
		.mob_nav_gray dl.mobile_navbar > dt::before {
			content: "\2212" !important;
		}
		*/

	}








/** - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
 | common - auth layer
 */

	.auth_table {margin:0 auto; padding:100px 0; vertical-align: middle; width:96%; max-width:420px; display:table;}
	.auth_table_cell {display:table-cell; background-color:#ffffff;}
	.auth_subject {position:relative; margin-bottom:30px;font-size:24px; font-weight:600; margin-bottom:15px;}

	.auth_ttl {font-size:17px; font-weight:600; margin-bottom:5px;}
	.auth_desc {margin-bottom:15px; border: 1px solid #ddd;padding:2px 3px; background-color:#f7f7f7}
	.auth_input {width:100%;border:none;outline:0;background-color:#f7f7f7; font-size:18px;}

	.auth_table .form-floating > input {background-color: #f7f7f7;}

	.msg_table {margin:40px auto; width:96%; max-width:980px; display:table; }
	.msg_table_cell {display:table-cell;}





	.partners_ctnt {}
	.partner_ci {text-align:center; line-height:100px; margin:10px 0;}







.slide-up-fade-in{
    animation: slide-up-fade-in ease 1s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    animation-fill-mode:forwards; /*when the spec is finished*/
    -webkit-animation: slide-up-fade-in ease 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
    -moz-animation: slide-up-fade-in ease 1s;
    -moz-animation-iteration-count: 1;
    -moz-transform-origin: 50% 50%;
    -moz-animation-fill-mode:forwards; /*FF 5+*/
    -o-animation: slide-up-fade-in ease 1s;
    -o-animation-iteration-count: 1;
    -o-transform-origin: 50% 50%;
    -o-animation-fill-mode:forwards; /*Not implemented yet*/
    -ms-animation: slide-up-fade-in ease 1s;
    -ms-animation-iteration-count: 1;
    -ms-transform-origin: 50% 50%;
    -ms-animation-fill-mode:forwards; /*IE 10+*/

    opacity:0;
    opacity: 1\9;

}




@keyframes slide-up-fade-in{
    0% {
        opacity:0;
        transform:  translate(0px,40px)  ;
    }
    100% {
        opacity:1;
        transform:  translate(0px,0px)  ;
    }
}

@-moz-keyframes slide-up-fade-in{
    0% {
        opacity:0;
        -moz-transform:  translate(0px,40px)  ;
    }
    100% {
        opacity:1;
        -moz-transform:  translate(0px,0px)  ;
    }
}

@-webkit-keyframes slide-up-fade-in {
    0% {
        opacity:0;
        -webkit-transform:  translate(0px,40px)  ;
    }
    100% {
        opacity:1;
        -webkit-transform:  translate(0px,0px)  ;
    }
}

@-o-keyframes slide-up-fade-in {
    0% {
        opacity:0;
        -o-transform:  translate(0px,40px)  ;
    }
    100% {
        opacity:1;
        -o-transform:  translate(0px,0px)  ;
    }
}

@-ms-keyframes slide-up-fade-in {
    0% {
        opacity:0;
        -ms-transform:  translate(0px,40px)  ;
    }
    100% {
        opacity:1;
        -ms-transform:  translate(0px,0px)  ;
    }
} 


.clearfix {clear: both; zoom: 1;}






/* 모바일에서 페이지 ::: 좌우 슬라이드 탭 메뉴 */
	.o_nav_scroll {    position: relative; height: 60px;}
	.o_nav_scroll .nav_scroll_wrap {overflow:hidden;}
	.o_nav_scroll .nav_scroll_wrap::before {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		/*right: 0; */
		left: 0;
		/* border-top: 1px solid rgba(0,0,0,.1); */
	}
	.o_nav_scroll .nav_list_wrap {
		position: relative;
		z-index: 1;
		font-size: 0;
		line-height: 0;
		white-space: nowrap;
	}
	.o_nav_scroll .native_scroll {
		overflow: hidden;
		overflow-x: auto;
		-webkit-overflow-scrolling: auto;
		-ms-overflow-style: none; /* IE and Edge  [스크롤기능은 유지, 스크롤바는 감추기]  */
		scrollbar-width: none; /* Firefox  [스크롤기능은 유지, 스크롤바는 감추기] */
	}
	.o_nav_scroll .native_scroll::-webkit-scrollbar {display: none !important; /* Chrome, Safari,Opera  [스크롤기능은 유지, 스크롤바는 감추기] */ } 


	.o_nav_scroll .nav_list {
		list-style: none;
		display: -webkit-inline-box;
		display: -webkit-inline-flex;
		display: inline-flex;
		min-width: 100%;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		justify-content: space-between;
		vertical-align: top;
		/*padding: 0 10px;*/
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
	.o_nav_scroll .nav_item {
		position: relative;
		display: inline-block;
		vertical-align: top;

		/*margin: 0 1px 0 0;*/
		/*padding: 0 10px;*/
		color: #333;
		text-align: center;
		cursor: pointer;
	}












	/** 메인 ::  비주얼 + + + + + + + + + + + + + + + + + + + + + + + + + + + + */
		.slick-slide {display: none;float: left;height: 100%;min-height: 1px;}
		.slick-dotted.slick-slider {margin-bottom:0 !important;}

		.slick_main_visual {width:100%; height:300px; overflow:hidden;}
		.slick_main_visual .slick-dots {position:absolute; top:260px; height:40px;}
		.slick_main_visual .slick-dots li {margin:0 !important;}

		.slick_main_visual .slick-arrow {
			z-index: 10 !important;
			width: 44px !important;
			height: 80px !important;
			background-color: rgba(0,0,0,.15) !important;
		}
		.slick_main_visual .slick-prev {
			left: auto !important;
			right: 50% !important;
			margin-right: 555px !important;
		}
		.slick_main_visual .slick-arrow:before {
			position: absolute !important;
			top: 50% !important;
			left: 50% !important;
			width: 18px !important;
			height: 34px !important;
			margin: -17px 0 0 -9px !important;
			background-image: url('/assets/images/donate/main_top_slick_arrow.svg') !important;
			content: '' !important;
		}
		.slick_main_visual .slick-next {
			left: 50% !important;
			margin-left: 555px !important;
		}
		.slick_main_visual .slick-next:before {
			transform: rotate(180deg);
		}

		.slick_main_visual .slick-slide img {opacity: .7; }
		.slick_main_visual .slick-slide {background-color: #000;}
		.slick_main_visual .slick-current, .slick-active {background-color:parent;}
		.slick_main_visual .slick-current img, .slick-active img {opacity: 1}
		

		@media screen and (max-width: 1200px) {
			.slick_main_visual .slick-prev {
				left: auto !important;
				right: 100% !important;
				margin-right: -44px !important;
			}
			.slick_main_visual .slick-next {
				left: 100% !important;
				margin-left: -44px !important;
			}
		}



	/** 메인 ::  캠페인 목록 + + + + + + + + + + + + + + + + + + + + + + + + + + + + */
		a.main_campaign_state { 
			float: left; 
			overflow:hidden;
			/* width: 267px; */
			width: 100%;
			height: 363px;
			border: 1px solid rgba(0,0,0,.09);
			background-color: #bfbfdf; /* #01c838; */
			color: #fff; 
		}

		a.main_campaign_state > div {padding: 29px 27px 0;}
		a.main_campaign_state > div > span.state_label {
			display: inline-block;
			width: 70px;
			background-color: rgba(0,0,0,.16);
			font-size: 15px;
			line-height: 30px;
			text-align: center;
		}
		a.main_campaign_state > div > strong.state_title {
			display: block;
			margin-top: 21px;
			font-size: 25px;
			font-weight: normal;
			line-height: 37px;
			letter-spacing: -1px;
			text-shadow: 0.5px 0.5px 0 rgba(17,74,47,.26);
		}
		.campaign_more {
			margin-top: 18px;
			display: inline-block;
			position: relative;
			padding-right: 12px;
			opacity: .8;
		}
		.main_campaign_state .campaign_state_list {
			margin: 60px -8px 0;
			padding: 19px 0 0 8px;
			border-top: 1px solid rgba(0,0,0,.08);
			font-size: 16px;
		}
		.main_campaign_state .campaign_state_list dt { float: left;
			width: 100px;
			height: 19px;
			margin-top: 11px;
		}
		.main_campaign_state .campaign_state_list dd {     height: 19px;
			margin-top: 11px;
			white-space: nowrap;
		}


		/* 메인 페이지 캠페인 목록 */

			/*
			ul.main_campaign_list {      display: flex;    flex-wrap: wrap; padding:0 10px;}
			ul.main_campaign_list li {display:inline-block; flex: 1 0 0%;  margin:0;}
			ul.main_campaign_list li .campaign_item {width: 100%;	height:363px; border:1px solid rgba(0,0,0,.09);}
			ul.main_campaign_list li .campaign_item > a {}
			*/

			.main_campaign_list {      display: flex;    flex-wrap: wrap; padding:0 10px;}
			.main_campaign_list .col {margin-bottom:20px;}

			.item_img_wrap { height:198.75px; overflow:hidden;}
			.item_img_wrap img {width: 100%; }
			.item_content {padding: 21px 20px 0;}

			.item_process_bar {
				height: 5px;
				margin-top: 13px;
				background-color: #e8e8e8;}
			.item_process_bar .item_process_bar_collection {
				display: inline-block;
				height: 100%;
				background-color: #8989c5; /* #10c838; */
				text-align: right;
				vertical-align: top;}

			.item_percent {display: inline-block;
				margin-top: 11px;
				font-size: 16px;
				letter-spacing: -.2px;
				color: #7a7abe; /* #00ab33; */
			}
			.item_money {
				float: right;
				margin-top: 11px;
				font-size: 16px;
				color: #333;
			}
			.item_planner {
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				margin-top: 8px;
				/* font-family: NanumBarunGothic,dotum,Sans-serif; */
				font-size: 15px;
				color: #828282;
			}



		/** 메인 ::  당신의 기부와 모금을 도와드립니다. + + + + + + + + + + + + + + + + + + + + + + + + + + + + */
			.selectorbox {
				margin-right: 17px;
				margin-bottom: 20px;
			}
			.selectorbox.last {
				margin-right: 0;
			}
			.selectorbox:last-child {
				margin-right: 0;
			}
			#selectorbox1_open, #selectorbox2_open, #selectorbox3_open {
				width: 540px;
				-webkit-transition: width .45s ease-in-out;
				transition: width .45s ease-in-out;
				border: 1px solid #e3e3e3;
				float: left;
				margin-right: 15px;
			}
			#selectorbox1_closed, #selectorbox2_closed, #selectorbox3_closed {
				width: 280px;
				-webkit-transition: width .45s ease-in-out;
				transition: width .45s ease-in-out;
				border: 1px solid #e3e3e3;
				float: left;
				margin-right: 15px;
			}
			#selectorbox1_closed > button, #selectorbox2_closed > button, #selectorbox3_closed > button {
				box-sizing: border-box;
				width: 100%;
				text-align: left;
			}
			#selectorbox3_open, #selectorbox3_closed  {
				margin-right: 0;
			}

			.selector_inner {
				padding: 20px 25px;
				z-index: 9;
				position: relative;
				height: 250px;
			}
			.inner_top {
				/* height: 320px; */
				/* padding-bottom:30px; */
			}
			.inner_top .inner_header {
				padding-top: 15px;
			}
			.inner_top .inner_header h1 {
				margin-bottom: 20px;
				color: #d24508;
				font-size: 28px;
			}
			.inner_top .inner_header p {
				margin-bottom: 50px;
				color: #444444;
				font-size:18px;
			}

			.inner_bottom {
				/*height: 175px;*/
				padding-top: 20px;
				position:absolute;
				bottom:0;
				right:0;
			}
			.vs_button {
				display: inline-block;
				width: auto;
				color: #fff;
				background-color: #007f99;
				padding: 10px 25px;
			}
			.vs_secondaryButton {
				border: 1px solid #007f99;
				color: #007f99;
				background-color: #ffffff;
				min-height: 0;
				margin-left: 10px;
			}

			.icon_open {
				background-image: url('/assets/images/donate/plus-sign.svg');
				background-repeat: no-repeat;
				z-index: 10;
				padding-top: 70px;
				width: 80px;
				background-color: Transparent;
				border: none;
				cursor: pointer;
				position: absolute;
				bottom: 0;
				right: 0;
			}


		@media screen and (max-width: 1200px) {

			#selectorbox1_open, #selectorbox2_open, #selectorbox1_closed, #selectorbox2_closed {
				border-bottom:1px dashed #b6b6b6;
			}

			.sboxopen, .sboxclosed { width: 100% !important; }

			.sboxopen .selector_inner { height: auto; }
			.sboxclosed .selector_inner { height: auto; }
			.selector_inner {
				padding: 15px 25px;
				z-index: 9;
				position: relative;
			}

			.inner_top {
				padding-bottom:10px;
			}
			.inner_top .inner_header {
				padding-top: 5px;
			}
			.inner_top .inner_header h1 {
				margin-bottom: 20px;
				color: #d24508;
				font-size: 28px;
			}
			.inner_top .inner_header p {
				margin-bottom: 30px;
				color: #444444;
				font-size:18px;
			}
			.inner_bottom {
				padding-top: 0px;
			}
		}


		.service_info .notice_wrap {
			position: absolute;
			top: 0px;
			left: 133px;
			font-size: 15px;
			line-height:50px;
			width: calc(100% - 160px);
		}

		.service_info .notice_wrap .notice_title {
			float: left;
			font-weight: 700;
		}

		.service_info .notice_wrap .notice_text {
			float: left;
			margin-left: 10px;
			color: #828282;
			display: none;
		}
		.service_info .notice_wrap .notice_text.is_active {
			display: block;
		}



		.footer_info {
			position: relative;
			font-size: 14px;
			color: #828282;

			/* background-color: #fff; */
			/* background-color: #f6f6f6;  */
		}
		.footer_info a {
			color: #222222;
			text-decoration: none;
		}

		.footer_info ul {
			list-style:none;
			padding:0;
		}

		.footer_info_inner {
			width:100%;
			max-width: 1200px;
			margin: 0 auto;
		}
		.footer_info_list {
			
		}
		.footer_info_list:after {
			display: table;
			table-layout: fixed;
			clear: both;
			content: "";
		}
		.footer_info_item {
			float: left;
		}
		.footer_info_item:after {
			display: inline-block;
			width: 1px;
			height: 12px;
			margin: 0 10px;
			background-color: #d7d7d7;
			vertical-align: -1px;
			content: "";
		}
		.footer_info_item:last-child:after {
			margin:0;
			width:0;
			height:0;
			background-color:#ffffff;
		}
		.footer_info_address {
			margin-top: 0px;
		}
		address, em {
			font-style: normal;
		}
		.footer_info_notice {
			display: block;
			margin-top: 10px;
			font-size: 13px;
		}
		.footer_info_copyright {
			margin-top: 18px;
			font-size: 13px;
		}
		.footer_info_naver {
			margin-right: 7px;
		}











	/** 마이페이지 :: 메인페이지 + + + + + + + + + + + + + + + + + + + + + + + + + + + + */

			.mypage_side { display:inline-block; float:left; width: 220px; padding:0; }
				.my_profile_wrap { padding:30px 0;  text-align: center; background-color:#848b91; color:#ffffff; font-size:15px;}
				.my_profile_id {vertical-align: middle; }
				/*
				.my_profile_img {
					border-radius: 50%;
					vertical-align: top;
				}
				*/

				.my_lnb {
					padding: 48px 34px 44px 32px;
					border: 1px solid #dcdcdc;
					border-top: 0;
					background-color: #fafafa;
				}

				.my_lnb_item {
					display: block;
					position: relative;
					margin-top: 49px;
					font-size: 17px;
				}
				.my_lnb_item:before {
					position: absolute;
					top: -25px;
					right: 0;
					left: 0;
					height: 1px;
					background-color: #e0e0e0;
					content: '';
				}
				.my_lnb_item:first-child {
					margin-top: 0;
				}
				.my_lnb_item:first-child:before {
					top: 0;
					height: 0px;
					background-color: parent;
				}
				.my_lnb_item[aria-current=true] {
					/* font-weight: 700; */
					color: #7676ba;
				}

				.my_lnb_sub_item {
					display: block;
					margin-top: 17px;
					font-size: 15px;
					color: #828282;
				}
				.my_lnb_sub_item+.my_lnb_sub_item {
					margin-top: 8px;
				}

			.mypage_ctnt { position:relative; float:right; margin-left:40px;  width:880px; display:inline-block; }





	/** 마이페이지 :: 캠페인 만들기 + + + + + + + + + + + + + + + + + + + + + + + + + + + + */
			#campaign_write_wrap {}

			#campaign_write_wrap .campaign_ctnt { position:relative; width:100%; max-width:1200px; padding:0 15px;}

			form .campaign_ctnt dl, form .campaign_ctnt dl dt, form .campaign_ctnt dl dd {position:relative;}
			form .campaign_ctnt dl dt {font-size:18px; font-weight: 500;}
			form .campaign_ctnt dl dd span.money_unit {position:absolute; right: 15px; line-height:50px; font-size:28px; }

			.goal_device {line-height: 60px; }



			#campaign_write_wrap .cmp_ctnt { position:relative; width:750px; display:inline-block; }
			#campaign_write_wrap .cmp_ctnt > figure { margin:0; }
			#campaign_write_wrap .cmp_ctnt > figure > img { max-width:100%; }

			#campaign_write_wrap .cmp_ctnt_side { display:inline-block; float:right; width: 320px; padding:0 10px;}

			#campaign_write_wrap .cmp_side_ttl {font-size:22px;color:#898989;}
			#campaign_write_wrap .cmp_goal_money {position:relative;width:100%; font-size:34px; line-height:50px; padding:0 50px 0 10px; font-weight:bold; }
			#campaign_write_wrap .cmp_goal_unit {position:absolute; top:8px; right:15px; line-height:43px; font-size:34px;}
			#campaign_write_wrap .cmp_goal_desc {width:100%; max-width: 100%; min-width:100%; height:auto; min-height:120px; font-size:24px; color: #434387; line-height:150%; }
			#campaign_write_wrap .cmp_term_begin {font-size:17px; width:100%; }
			#campaign_write_wrap .cmp_term_end {font-size:17px; width:100%;}

			#campaign_write_wrap .cmp_org_wrap {background-color:#efeff8; color:#6c6c6c;}
			#campaign_write_wrap .cmp_org_name {width: 100%; font-size:18px; color: #6c6c6c; }
			#campaign_write_wrap .cmp_org_desc {width:100%; max-width:100%; min-width:100%; color:#6c6c6c; font-size:16px; }

			.campaign_input { line-height:50px; font-size:20px !important; padding:0 10px;}
			.campaign_title { margin-top:10px; width:100%; font-weight:bold; color:#353535;}
			.campaign_main_img { margin:0; width: 100%; height:auto; min-height: 200px; background-color:#f2f2f2;}
			.campaign_main_img img {width: 100%;}
			.campaign_main_image { /* display:none; */ border:1px solid #fff; margin-top:10px;} 

			.wrap_goal {display:none;}







			.o_request_tbl { position:relative; width:100%; }
			.o_request_row { position:relative; width:100%; padding:20px 0; vertical-align:middle;}

			.o_request_tbl dl { position:relative; clear:both; width:100%; margin:0; padding:0;  vertical-align:middle; }
			.o_request_tbl dl dt div, .o_request_tbl dl dd div { display:inline-block; padding:30px 15px; background-color:#efeff8; line-height: 120%; }

			.o_request_tbl dl dt {display:inline-block; float:left; width:75px; margin:0; padding:1px 0 0 0;  vertical-align:middle; }
			.o_request_tbl dl dd {display:inline-block; float:right; width:calc(100% - 75px); margin:0; padding:0;  vertical-align:middle;  background-color:#ffffff;}
			.o_request_tbl dl dd input.input_request, textarea.textarea_request {width:100%; border:1px solid #e3e3e3;}
			.o_request_tbl dl dd input.input_request { height:47px; line-height:47px; padding:0 24px;}
			.o_request_tbl dl dd textarea.textarea_request { padding:15px 24px;height:300px;}
			.o_request_tbl br.b_line_request { clear:both; border:none; border-bottom: 1px solid #e1e1e1; margin:0; padding:0;}
			.o_request_tbl hr.b_line_request { clear:both; border:none; border-bottom: 1px solid #e1e1e1; margin:0; padding:0;}


























































	/** 메인 :: 함께 하는 파트너 + + + + + + + + + + + + + + + + + + + + + + + + + + + + */
		.slick_partner_side { 
			width: 100%; height:100px;
			position: relative;
			overflow: hidden;
		}
		.slick_partner_side:after, .slick_partner_side:before {
			position: absolute;
			top: 0;
			bottom: 0;
			z-index: 1;
			pointer-events: none;
			content: "";
		}
		.slick_partner_side:before {
			left:0;
			width: 100px;
			height: 100px;
			background-image: linear-gradient(270deg,hsla(0,0%,100%,0),#fff 40%,#fff 100%);
		}
		.slick_partner_side:after {
			right: 0;
			width: 100px;
			height: 100px;
			background-image: linear-gradient(90deg,hsla(0,0%,100%,0),#fff 40%,#fff 100%);
		}
		.slick_partner {margin:0 auto; width:100%; overflow:hidden; background-color:#fff;}
		.slick_partner > div { background-color:#fff; }
		.slick_partner .img_partners {
			display: inline-block;
			position: relative;
			width: 100px;
			height: 100px;
			padding: 6px;
			background-color: #ffffff;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: 50% 50%;
			background-origin: content-box;
			border-radius: 50%;
			text-align: center;
			vertical-align: top;
		}
		.slick_partner .img_partners:after {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			border-radius: 50%;
			border: 1px solid #eeeeee;
			content: "";
		}
		.slick_partner .slick-slide { text-align:center;}
		.slick_partner .slick-arrow {
			z-index: 10 !important;
			width: 44px !important;
			height: 80px !important;
			background-color: rgba(0,0,0,.15) !important;
		}
		.slick_partner .slick-prev {
			left: auto !important;
			right: 50% !important;
			margin-right: 526px !important;
		}
		.slick_partner .slick-arrow:before {
			position: absolute !important;
			top: 50% !important;
			left: 50% !important;
			width: 18px !important;
			height: 34px !important;
			margin: -17px 0 0 -9px !important;
			background-image: url('/assets/images/donate/main_top_slick_arrow.svg') !important;
			content: '' !important;
		}
		.slick_partner .slick-next {
			left: 50% !important;
			margin-left: 526px !important;
		}
		.slick_partner .slick-next:before {
			transform: rotate(180deg);
		}







	/** 캠페인 :: 목록페이지 + + + + + + + + + + + + + + + + + + + + + + + + + + + + */

		/* 캠페인 메뉴의 캠페인 목록 */
			ul.campaign_list {      display: flex;    flex-wrap: wrap; margin:0 -12px; padding:0;}
			ul.campaign_list li {display:inline-block; flex: 1 0 0%;  margin:0 12px 40px; max-width:267px; }
			ul.campaign_list li .campaign_item {width:267px; height:363px; border:1px solid rgba(0,0,0,.09);}
			ul.campaign_list li .campaign_item > a {}

		@media screen and (max-width: 990px) {
			ul.campaign_list li,
			ul.campaign_list li .campaign_item {margin:0 auto;}

			ul.campaign_list li {margin-bottom:40px;}
		}
		@media screen and (max-width: 767px) {
			ul.campaign_list li,
			ul.campaign_list li .campaign_item {margin:0 auto;}

			ul.campaign_list li {margin-bottom:40px;}
		}

		@media screen and (max-width: 480px) {
			ul.campaign_list li {display:block; margin:0 auto 40px; max-width:100%; }
			ul.campaign_list li .campaign_item {width:90%; min-width:267px;  height:363px; border:1px solid rgba(0,0,0,.09);}
		}




	/** 캠페인 :: 상세페이지 + + + + + + + + + + + + + + + + + + + + + + + + + + + + */

			.cmp_ctnt2 { position:relative; width:100%; max-width:750px; display:inline-block; }
			.cmp_ctnt2 > figure { margin:0; }
			.cmp_ctnt2 > figure > img { max-width:100%; }

			.cmp_ctnt_side2 { display:inline-block; width:100%; max-width: 320px; padding:0 10px;}
			.cmp_ctnt_side2 .cmp_side_ttl {font-size:24px;color:#a7a7a7;}

			.cmp_ctnt_side_mobile { display:block; width:100%; padding:50px 10px 0px;}
			.cmp_ctnt_side_mobile .cmp_side_ttl {font-size:24px;color:#a7a7a7;}


			/* Style the tab */
				.cmp_ctnt2 .tab {
				  overflow: hidden;
				  background-color: #f6f6f6;
				  margin-top:50px;
				}

				/* Style the buttons inside the tab */
				.cmp_ctnt2 .tab button {
				  background-color: inherit;
				  float: left;
				  border: none;
				  outline: none;
				  cursor: pointer;
				  padding: 14px 16px;
				  transition: 0.3s;
				  font-size: 18px;

				  width:50%;
				  border: 1px solid #e4e4e4;
				  border-bottom: 1px solid #ccc;
				  outline:0;
				}
				.cmp_ctnt2 .tab button:first-child {
					margin-right: -1px;
				}

				/* Change background color of buttons on hover */
				.cmp_ctnt2 .tab button:hover {
				  /* background-color: #ddd; */
				}

				/* Create an active/current tablink class */
				.cmp_ctnt2 .tab button.active {
				  background-color: #fff;

				  border: 1px solid #ccc;
				  border-bottom: 1px solid #fff;
				}

				/* Style the tab content */
				.cmp_ctnt2 .tabcontent {
				  display: none;
				  padding: 40px 0;
				  border-top: none;
				  font-size:18px;
				  
				}
				.cmp_ctnt2 .tabcontent p {
					line-height:170%;
					color:#4f4f4f;
				}




	/** 캠페인 :: 상세페이지 + + + + + + + + + + + + + + + + + + + + + + + + + + + + */

			.cmp_ctnt { position:relative; width:750px; display:inline-block; }
			.cmp_ctnt > figure { margin:0; }
			.cmp_ctnt > figure > img { max-width:100%; }

			.cmp_ctnt_side { display:inline-block; float:right; width: 320px; padding:0 10px;}
			.cmp_ctnt_side .cmp_side_ttl {font-size:24px;color:#a7a7a7;}


			/* Style the tab */
				.cmp_ctnt .tab {
				  overflow: hidden;
				  background-color: #f6f6f6;
				  margin-top:50px;
				}

				/* Style the buttons inside the tab */
				.cmp_ctnt .tab button {
				  background-color: inherit;
				  float: left;
				  border: none;
				  outline: none;
				  cursor: pointer;
				  padding: 14px 16px;
				  transition: 0.3s;
				  font-size: 18px;

				  width:50%;
				  border: 1px solid #e4e4e4;
				  border-bottom: 1px solid #ccc;
				  outline:0;
				}
				.cmp_ctnt .tab button:first-child {
					margin-right: -1px;
				}

				/* Change background color of buttons on hover */
				.cmp_ctnt .tab button:hover {
				  /* background-color: #ddd; */
				}

				/* Create an active/current tablink class */
				.cmp_ctnt .tab button.active {
				  background-color: #fff;

				  border: 1px solid #ccc;
				  border-bottom: 1px solid #fff;
				}

				/* Style the tab content */
				.cmp_ctnt .tabcontent {
				  display: none;
				  padding: 40px 0;
				  border-top: none;
				  font-size:18px;
				  
				}
				.cmp_ctnt .tabcontent p {
					line-height:170%;
					color:#4f4f4f;
				}



	/** 캠페인 :: 기부하기 + + + + + + + + + + + + + + + + + + + + + + + + + + + + */

	.step_section { display:none; }
	.step_section.active { display: block; }

	#goods_tr .del_goods_tr {display:none;}
	.goods_amt::placeholder {
		color: #ff8080;
	}





	/** 마이페이지 :: 메인페이지 + + + + + + + + + + + + + + + + + + + + + + + + + + + + */

			.mypage_side { display:inline-block; float:left; width: 220px; padding:0; }
				.my_profile_wrap { padding:30px 0;  text-align: center; background-color:#848b91; color:#ffffff; font-size:15px;}
				.my_profile_id {vertical-align: middle; }
				/*
				.my_profile_img {
					border-radius: 50%;
					vertical-align: top;
				}
				*/

				.my_lnb {
					padding: 48px 34px 44px 32px;
					border: 1px solid #dcdcdc;
					border-top: 0;
					background-color: #fafafa;
				}

				.my_lnb_item {
					display: block;
					position: relative;
					margin-top: 49px;
					font-size: 17px;
				}
				.my_lnb_item:before {
					position: absolute;
					top: -25px;
					right: 0;
					left: 0;
					height: 1px;
					background-color: #e0e0e0;
					content: '';
				}
				.my_lnb_item:first-child {
					margin-top: 0;
				}
				.my_lnb_item:first-child:before {
					top: 0;
					height: 0px;
					background-color: parent;
				}
				.my_lnb_item[aria-current=true] {
					/* font-weight: 700; */
					color: #7676ba;
				}

				.my_lnb_sub_item {
					display: block;
					margin-top: 17px;
					font-size: 15px;
					color: #828282;
				}
				.my_lnb_sub_item+.my_lnb_sub_item {
					margin-top: 8px;
				}

			.mypage_ctnt { position:relative; float:right; margin-left:40px;  width:880px; display:inline-block; }





	/** 마이페이지 :: 캠페인 만들기 + + + + + + + + + + + + + + + + + + + + + + + + + + + + */
	/*
			#campaign_write_wrap {}

			#campaign_write_wrap .cmp_ctnt { position:relative; width:750px; display:inline-block; }
			#campaign_write_wrap .cmp_ctnt > figure { margin:0; }
			#campaign_write_wrap .cmp_ctnt > figure > img { max-width:100%; }

			#campaign_write_wrap .cmp_ctnt_side { display:inline-block; float:right; width: 320px; padding:0 10px;}

			#campaign_write_wrap .cmp_side_ttl {font-size:22px;color:#898989;}
			#campaign_write_wrap .cmp_goal_money {position:relative;width:100%; font-size:34px; height:60px; line-height:50px; padding:0 50px 0 10px; font-weight:bold; }
			#campaign_write_wrap .cmp_goal_unit {position:absolute; top:8px; right:15px; line-height:43px; font-size:34px;}
			#campaign_write_wrap .cmp_goal_desc {width:100%; max-width: 100%; min-width:100%; height:auto; min-height:120px; font-size:24px; font-weight:700; color: #434387; line-height:150%; }
			#campaign_write_wrap .cmp_term_begin {width:135px; font-size:17px; font-weight:700; text-align:center; padding:5px 0;}
			#campaign_write_wrap .cmp_term_end {width:135px; font-size:17px; font-weight:700; text-align:center; padding:5px 0;}

			#campaign_write_wrap .cmp_org_wrap {background-color:#efeff8; color:#6c6c6c;}
			#campaign_write_wrap .cmp_org_name {width: 100%; line-height:40px; font-size:18px; text-align:center; color: #6c6c6c; font-weight: 700;}
			#campaign_write_wrap .cmp_org_desc {width:100%; max-width:100%; min-width:100%; color:#6c6c6c; font-size:15px; line-height: 23px; font-size:16px; }

			.campaign_title { margin-top:10px; width:100%; line-height:50px; font-size:32px; font-weight:bold; color:#353535;}
			.campaign_main_img { margin:0; width: 100%; height:auto; min-height: 200px; background-color:#f2f2f2;}
			.campaign_main_img img {width: 100%;}
			.campaign_main_image { border:1px solid #fff; margin-top:10px;} 

			.wrap_goal {display:none;}







			.o_request_tbl { position:relative; width:100%; }
			.o_request_row { position:relative; width:100%; padding:20px 0; vertical-align:middle;}

			.o_request_tbl dl { position:relative; clear:both; width:100%; margin:0; padding:0;  vertical-align:middle; }
			.o_request_tbl dl dt div, .o_request_tbl dl dd div { display:inline-block; padding:30px 15px; background-color:#efeff8; line-height: 120%; }

			.o_request_tbl dl dt {display:inline-block; float:left; width:75px; margin:0; padding:1px 0 0 0;  vertical-align:middle; }
			.o_request_tbl dl dd {display:inline-block; float:right; width:calc(100% - 75px); margin:0; padding:0;  vertical-align:middle;  background-color:#ffffff;}
			.o_request_tbl dl dd input.input_request, textarea.textarea_request {width:100%; border:1px solid #e3e3e3;}
			.o_request_tbl dl dd input.input_request { height:47px; line-height:47px; padding:0 24px;}
			.o_request_tbl dl dd textarea.textarea_request { padding:15px 24px;height:300px;}
			.o_request_tbl br.b_line_request { clear:both; border:none; border-bottom: 1px solid #e1e1e1; margin:0; padding:0;}
			.o_request_tbl hr.b_line_request { clear:both; border:none; border-bottom: 1px solid #e1e1e1; margin:0; padding:0;}
*/



	/** 마이페이지 :: 캠페인 모바일 메뉴 + + + + + + + + + + + + + + + + + + + + + + + + + + + + */

			.m_slide_nav {width:100%; height:60px; overflow:none; border-bottom: 1px solid rgba(0,0,0,.1);}
			.m_slide_nav_wrap {width:100%;overflow:none; }
			.m_slide_nav_wrap::before {
				content: "";
				display: block;
				position: absolute;
				top: 0;
				/* right: 0; */
				left: 0;
				border-bottom: 1px solid rgba(0,0,0,.1);
			}

			.m_list_nav {
				overflow: hidden;
				overflow-x: auto;
				position: relative;
				z-index: 1;
				font-size: 0;
				line-height: 0;
				white-space: nowrap;
			}

			.m_list_nav {
				-ms-overflow-style: none; /* IE and Edge */
				scrollbar-width: none; /* Firefox */
			}
			.m_list_nav::-webkit-scrollbar {
				display: none; /* Chrome, Safari, Opera*/
			}

			.m_list_nav ul {
				margin:6px 0 0 0;

				list-style: none;
				display: -webkit-inline-box;
				display: -webkit-inline-flex;
				display: inline-flex;
				min-width: 100%;
				-webkit-box-pack: justify;
				-webkit-justify-content: space-between;
				justify-content: space-between;
				vertical-align: top;
				padding: 0 10px;
				-webkit-box-sizing: border-box;
				box-sizing: border-box;
				}

			}
			.m_list_nav ul li {
				position: relative;
				display: inline-block;
				vertical-align: top;
				margin: 0 1px 0 0;
				padding: 0 10px;
				color: #333;
				text-align: center;
				cursor: pointer;
			}


			.m_list_nav ul li span {
				padding: 0 5px;
				font-size: 17px;
			}

			.m_list_nav ul li span {
				text-decoration: none;
				display: inline-block;
				position: relative;
			}
			.m_list_nav ul li span {
				cursor: pointer;
				text-align: center;
				white-space: nowrap;
				padding: 0;
				margin: 0;
				color: #888888;
				line-height: 60px;
				display: inline-block;
				text-decoration: none;
			}

			.m_list_nav ul li span a {
				padding: 0;
			}
			.m_list_nav ul li span a {
				text-decoration: none;
				color: #888888;
				display: inline-block;
				padding: 0 20px;
			}
			.m_list_nav ul li span a:nth-child(1) {
				padding-left:0;
			}

			.mypage_ctnt {width:100%;}
			@media screen and (min-width: 768px) {
				.mypage_ctnt {width:78%; max-width:880px; margin-left:2%;}
			}
